1 VERSIONINFO
FILEVERSION     1,5,1,0
PRODUCTVERSION  1,5,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "1.5.1.0"
      VALUE "ProductVersion", "1.5.1.0"
      VALUE "ProductName", "libIEC61850"
      VALUE "FileDescription", "libIEC61850 - open source library for IEC 61850"
      VALUE "LegalCopyright", "Dual license : Commercial or GPLv3"
    END
  END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END
